<!-- Add Event -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"> <a routerLink="/event-list"> Events List </a> </li>
    <li role="presentation"> <a routerLink="/event-master"> Event Master </a> </li>
</ul>
<div class="col-md-12">
    <div class="container; col-md-offset-3" style="width: 50%; border: 2px solid #d7d7d7; border-radius: 5px; padding: 30px">
        <form class="form-horizontal">
            <h1 style="text-align: center"> Add Event list </h1>
            <label class="">Event Name</label>
            <input type="text" name="event_name" [(ngModel)]="event_name" class="form-control">
            <label class="">Date</label>
            <input type="date" name="date" [(ngModel)]="date" class="form-control">
            <label class="">Location</label>
            <input type="text" name="address" [(ngModel)]="location" class="form-control">
            <label class="">Ticket Price</label>
            <input type="text" name="ticket_price" [(ngModel)]="ticket_price" class="form-control">
            <label class="">Ticket Total</label>
            <input type="text" name="ticket_total" [(ngModel)]="ticket_total" class="form-control">
            <br>
            <button type="button" class="btn btn-primary" (click)="add()">Add</button>


        </form>
    </div>
</div>