<!-- Events List-->
<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"> <a routerLink=""> Events List </a> </li>
        <li role="presentation"> <a routerLink="/event-master"> Event Master </a> </li>
    </ul>


    <div class="row">
        <table class="table table-hover" border="1">
            <tr style="background-color: #d7d7d7">
                <th>ID</th>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th>ticket set</th>
                <th>Ticket</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let e of eventList,let i=index ">
                <td>{{ e.id}}</td>
                <td>{{ e.event_name }}</td>
                <td>{{ e.date }}</td>
                <td>{{ e.location }}</td>
                <td>{{ e.ticket_total}}</td>
                <td> {{ e.ticket_price }}</td>
                <td> <button type="button" class="btn btn-success" (click)="buyTicket()">Buy Ticket</button> </td>

            </tr>
        </table>
    </div>
</div>