/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
* {
    margin: 0;
}

.background {
    height: 300px;
}

.img {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}